* {
    margin: 0px;
    padding: 0px;
}

/* nav bar starts */

.content-navbar {
    font-family: 'Poppins', sans-serif;
    color: none;
    font-size: 14px;
}

#nav-bar {
    width: 100%;
    height: 94px;
    position: relative;
}


#nav-bar>nav {
    height: 93px;
    background-color: #f8f9fa;
}

#logo {
    width: 28%;

}

#logo>img {
    width: 200px;
    height: 40px;
    margin-left: 10%;

}




#navbarSupportedContent>div {
    margin-left: 12%;
    margin-right: 0%;
    display: flex;
    justify-content: space-between;
    width: 81%;
    margin-top: 2%;
}


/* nav bar ends */

#home-page>div {
    background-image: url(./IMAGES/home_image.jpg);
    height: 100vh;
    /* min-width: 100%; */
    background-size: 200vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
    padding-left: 150px;
}

#img {
    background-size: cover cover;
    background-position: center;

}



#img-title {
    font-family: 'Oswald', sans-serif;
    font-size: 65px;
    text-transform: capitalize;
    color: white;
    /* width: 60vh; */

}

#img-content {
    color: white;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
    /* width: 25vh; */
}



@media only screen and (max-width:1000px) {
    #img-title {
        font-family: 'Oswald', sans-serif;
        font-size: 40px;
        text-transform: capitalize;
        color: white;
        /* width: 45vh; */
        padding-left: 0px;

    }

    #home-page>div {
        background-size: cover cover;
        background-position: center;
        width: 100%;
        /* padding: 0px; */
        /* padding-left: 0px; */
        font-size: 30px;
        text-transform: capitalize;
        /* padding: 50px; */
        padding-left: 100px;
    }



    #img-content {
        font-size: 15px;

    }
}














@media only screen and (max-width:500px) {
    #home-page>div {
        background-size: cover cover;
        background-position: center;
        width: 100%;
        /* padding: 0px; */
        /* padding-left: 0px; */
        font-size: 30px;
        text-transform: capitalize;
        /* padding: 50px; */
        padding-left: 0px;
    }

    #img-content {
        font-size: 10px;

    }
}


@media only screen and (max-width:500px) {
    #img-title {
        font-family: 'Oswald', sans-serif;
        font-size: 20px;
        text-transform: capitalize;
        color: white;
        /* width: 45vh; */
        /* text-align: center; */
        padding-left: 22px;

    }

    #img-content {
        /* text-align: center; */
        padding-left: 24px;

    }
}





@media only screen and (max-width:200px) {
    #home-page>div {
        background-size: cover cover;
        background-position: center;
        width: 100vh;
        /* padding: 0px; */
        /* padding-left: 0px; */
        font-size: 20px;
        text-transform: capitalize;
        /* padding: 50px; */
        padding-left: 0px;
    }

    #img-content {
        font-size: 7px;

    }
}


@media only screen and (max-width:200px) {
    #img-title {
        font-family: 'Oswald', sans-serif;
        font-size: 20px;
        text-transform: capitalize;
        color: white;
        /* width: 45vh; */
        /* text-align: center; */
        padding-left: 22px;

    }

    #img-content {
        /* text-align: center; */
        padding-left: 24px;

    }
}



about #text {
    height: 303.188px;
    width: 899.328px;
    margin: 0 auto;
}


#text-message {
    height: 120px;
    line-height: 30px;
    margin: 50px 0px 10px 0px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    word-spacing: 0px;
}


#text-signature {
    font-family: 'Dawning of a New Day', cursive;
    font-size: 25.2px;
    text-align: center;
    margin-top: 20px;
}


#text-signature-holder {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    text-align: center;
    margin-top: 12px;
    color: gray;
}




.line {
    height: 2px;
    width: 70px;
    background-color: #8dc63f;
    margin-right: 20px;
}

#about {
    margin: 40px 270px 40px 270px;
}

#text {
    min-height: auto;
    min-width: auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;



}

#title {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 51px;
    width: 899px;

}


#content-title {
    font-size: 14px;

}

#image-title>img {
    height: 300px;
    width: 374px;
    margin-left: 10px;
}


#sup-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 899px;
    margin-top: 50px;
    margin-bottom: 100px;
}


.wwd {
    margin: 40px 270px 40px 270px;

}



.wwd-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.title-line {
    height: 1px;
    width: 40px;
    background-color: #8dc63f;
}

.sub-title>h4 {
    font-size: 14px;
}

.sub-title {
    margin-top: 3px;
}


.title {
    display: block;
    margin-top: 20px;
    margin-left: 10px;
}

.whole-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 230px;
    margin-top: 50px;
}


.content-wwd {
    height: 191px;
    width: 206px;
    font-size: 14px;
}




#align {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;

}


#slider {
    margin: 40px 270px 40px 270px;

}

#slider-mgn {
    margin-bottom: 40px;
}


#slider-align {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#ft-line {
    width: 100%;
    height: 3px;
    background-color: #8dc63f;
}


#footer {
    width: 100%;
    height: 350px;
    background-color: #252634;

}








.footer-content>div {
    display: flex;
    flex-direction: row;
}


.centeer>h4 {
    text-align: center;
    color: white;
    font-size: 14px;
    margin-top: 40px;
}


#office {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#footer-content-last {
    height: 214px;
    width: 624px;
    margin: 0px auto;
}

.footer-content {
    color: white;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#hel {
    width: 523px;
    margin: 0px auto;
}



/* 
#sub-logo{
    margin-left: 100px;
} */



.logo-footer {
    width: 14px;
    height: 14px;


}


.logo-footer:hover {
    background-color: #8dc63f;
}